.navbar::before {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.navbar {
    background-color: #353338;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-size: 18pt ;
}
h6{
    font-family: 'Kanit', sans-serif;
    font-size: 10pt ;
}
.myflag{
    opacity: 50%;
    margin: 5px;
    text-decoration: none;
    font-size: 9pt;
}
.myflag:hover{
    opacity: 100%;

}

.nav-link{
    
    padding: 8px;
    color: #B9B3C4; 
}
.d-block{
    margin-left: auto;
    margin-right: auto;
    width: auto;
     
  }
.navbar-brand {
    margin-left: 40vmax;
  
}
 

@media screen and (max-width:1024px) {
    .navbar-brand {
        margin-left: 9vmax;
      
    }
 }